# virtual envivorment
.venv/
env/
venv/

# pycache
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# база данных и миграции
*.db
*.sqlite3

# медиа-файлы
media/*
# кроме .gitkeep
!media/.gitkeep

# env файлы
.env

# celery/redis/postgres data
*.pid
*.log